@import "base/normalize";
@import "utils/variables";
@import "components/loader-spinner";
@import "base/base";
@import "base/animation";
@import "layout/header";
@import "layout/footer";

/* ************************* Page Accueil ******************* */
.page-accueil{
  background-color: $blanc;
  margin:0;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.main-accueil{
  position: absolute;
  animation: cache 3s linear forwards, app-accueil 0.6s ease 3s both;
  margin: 0;
}
.presentation{
  display:flex;
  flex-direction: column;
}
.localisation{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $localisation;
  border-top: 4px solid $localisation_bordure;
}
.fa-location-dot{
  margin-right: 15px;
  font-size: 1rem;
  color: $noir;
}
.reservez{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient($blanc,$background);
  padding: 30px;
  &__description{
    font-weight: 300;
  }
}
nav{
  padding: 30px 20px;
}
.choisissez, .composez, .degustez{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 20px 15px;
  font-size: 1.2rem;
  background: $background;
  box-shadow: 2px 2px 5px $ombre;
  font-weight: 700;
  border-radius: 25px;
  position: relative;
}
.selection{
  &:hover{
    background: $background-hover;
    box-shadow: 2px 2px 5px $gris;
    cursor: pointer;
    i{
      color: $primaryColor;
    }
  }
}
.chiffre{
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  color: $blanc;
  background-color: $primaryColor;
}
.restaurants{
  background-color: $background;
  padding: 30px 20px;
  &__fiche{
    margin: 20px 0px;
    background-color: $blanc;
    border-radius: 20px;
    box-shadow: 2px 2px 5px $ombre;
    transform: scale(1);
    transition: transform 0.5s, box-shadow 0.5s;
    &:hover{
      transform: scale(1.03);
      box-shadow: 2px 2px 5px $gris;
    }
  }
  &__image{
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
    height: 180px;
    & img{
      position: absolute;
      border-radius: 20px 20px 0 0;
      object-position: 0 -60px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.la-note-enchantee{
        position: absolute;
        object-position: 0 -155px;
      }
    }
    & p{
      position: absolute;
      font-size: 1rem;
      top: 10px;
      right: 10px;
      padding: 6px;
      margin: 0;
      color: $vert;
      background-color: $tertiaryColor;
    }
  }
  &__descriptif{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 50px;
  }
  &__texte{
    flex-direction: column;
    & h3{
      margin: 0px;
      font-size: 1.2rem;
      height: 25px;
    }
    & p{
      font-weight: 300;
      margin: 0px;
    }
  }
}
/* ***************************** Page des différents Restaurants ********************* */
.main-restaurants{
  display:flex;
  flex-direction: column;
  max-width: $largeurmax-ecran; 
  position: relative;
}
.image{
  height: 250px;
  & img{
    position: absolute;
    width: 100%;
  }
}
.a-la-française, .la-palette-du-gout{
  height: 100%;
}
.resto-la-note-enchantee{
  position: absolute;
  top: -110px;
}
.menus{
  position: absolute;
  width:100%;
  top: 200px;
  background-color: $background;
  border-radius: 50px 50px 0 0;
  padding: 30px 20px;
  box-sizing: border-box;
  & h1{
      font-family: 'Shrikhand', cursive;
      font-size: 28px;
      font-weight: 300;
      margin: 0;
      
    }
    & h2{
      font-size: 18px;
      font-weight: 400;
      height: 22px;
      width: 45px;
      margin: 30px 0 10px;
      border-bottom: 5px solid $tertiaryColor;
    }
    & h3{
      font-size: 1.15rem;
      padding: 0;
      margin: 10px 10px 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  &__nom{
    display: flex;
    justify-content: space-between;
    padding-right:20px;
  }
  &__element{
    display: flex;
    background-color: $blanc;
    border-radius: 20px;
    margin-bottom: 20px;   
    box-shadow: 0 0 12px $ombre;
    &:hover{
      cursor: pointer;
      .element__name{
        display:flex;
        width: 80%;
      }
      .element__validation{
        width: 20%;
        i{
          animation: rotation 0.5s backwards;
        }
      }
    }
  }
  .btn{
    margin: 40px auto 20px;
    width: 150px;
    text-align: center;
  }
}
.element{
  &__name{
    width: 100%;
    display: flex;
    padding: 5px 5px 0;
    flex-direction: column;
    box-sizing: border-box;
    transition: width 0.5s;
  }
  &__detail{
    display: flex;
    justify-content: space-between;
  }
  &__validation{
    border-radius: 0 20px 20px 0;
    display: flex;
    font-size: 25px;
    width: 0%;
    transition: width 0.5s;
    background-color: $tertiaryColor;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    i{
      color: $blanc;
    }
  }
}
.intitule{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 400;
  margin: 0 10px 10px;
}
.prix{
  padding: 0;
  margin: 0 10px;
}
