@import "base/normalize";
@import "utils/variables";
@import "components/_loader-spinner";
@import "base/base";
@import "base/animation";
@import "layout/header";
@import "layout/footer";

/* ************************* Général ******************* */
.presentation{
  display:flex;
  flex-direction: column;
}
.localisation{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $localisation;
  border-top: 4px solid $localisation_bordure;
}
.fa-location-dot{
  margin-right: 15px;
  font-size: 1rem;
  color: $texte-noir;
}
.reservez{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient($texte-blanc,$background);
  padding: 30px 0px;
  &__description{
    font-weight:100;
  }
}
.btnExplorer{
  border-radius: 25px;
  padding: 15px;
  font-weight: 700;
  color: $texte-blanc;
  background: linear-gradient(to bottom right, $secondaryColor, $primaryColor);
}
nav{
  padding: 30px 20px;
}
.choisissez, .composez, .degustez{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 20px 15px;
  font-size: 1.2rem;
  background: $background;
  box-shadow: 2px 2px 5px $ombre;
  font-weight: 700;
  border-radius: 25px;
  position: relative;
}
.chiffre{
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  color: $texte-blanc;
  background-color: $primaryColor;
}
.restaurants{
  background-color: $background;
  padding: 30px 20px;
  &__fiche{
    margin: 20px 0px;
    background-color: $texte-blanc;
    border-radius: 20px;
    box-shadow: 2px 2px 5px $ombre;
  }
  &__image{
    position: relative;
    border: 0;margin: 0;padding: 0;
    & img{
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
    & p{
      position: absolute;
      font-size: 1rem;
      top: 10px;
      right: 10px;
      padding: 6px;
      margin: 0;
      color: $texte-vert;
      background-color: $tertiaryColor;
    }
  }
  &__descriptif{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  &__texte{
    flex-direction: column;
    & h3{
      margin: 0px;
      font-size: 1.2rem;
    }
    & p{
      font-weight: 400;
      margin: 0px;
    }
  }
  &__coeur{
    font-size: 1.5rem;
    position: relative;
    width: 25px;
    height: 25px;
    & i:nth-child(1){
      position: absolute;
      opacity: 1;
      left:0;
      right:0;
      bottom:0;
      top:0;
    }
    & i:nth-child(2){
      position: absolute;
      transition: 0.5s opacity;
      opacity: 0;
      left:0;
      right:0;
      bottom:0;
      top:0;
      background: linear-gradient(to bottom right, $secondaryColor, $primaryColor);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    & i:nth-child(2):hover{
      opacity: 1;
    }
  }
}