footer{
    background-color: $footer-color;
    color: $texte-blanc;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    & h2{
      font-family: 'Shrikhand', cursive;
      font: size 1.4rem;
      margin: 20px 0;
    }
    & .proposer-resto, & .partenaire{
      display: flex;
      align-items: center;
    }
    & i{
      margin: 0 10px 0 0;
    }
    & p{
      margin: 5px 0px;
      font-weight: 400;
    }
  }