/* ******************************** import _animation.scss ************ */
@keyframes rotation{
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes grossissement{
    0%{
        transform: scale(0.4);
    }
    100%{
        transform: scale(1);
    }
}