/* **************************Import variables.scss ***************** */
$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaryColor: #99E2D0;
$texte-blanc: #FFFFFF;
$texte-noir: #000000;
$texte-gris: #7E7E7E;
$texte-vert: #008766;
$localisation: #eaeaea;
$localisation_bordure: #D4D4D4;
$background: #F7F7F7;
$background-hover: #F5EDFF;
$ombre: #E9E9E9;
$footer-color: #353535;